body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
.conteiner{
  width: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.menu {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name {
  display: block;
  font-size: 16px;
  font-weight: 800;
}
.description {
  margin-left: 9px;
}
.menu-logo {
  display: flex;
  align-items: center;
}
.avatar {
  width: 57px;
  height: 57px;
  background: url('https://pp.userapi.com/c846322/v846322831/181ebb/J0ZJpfjyTkg.jpg');
  border-radius: 50%;
  background-size: 150%;
  background-position: center 25%;
}
.menu-list {
  display: flex;
  align-items: center;
}
.menu-list a {
  text-decoration: none;
  color: #2b2a2c;
  margin-right: 34px;
  position:relative;
  display: inline-block;
}
.menu-list a, .menu-button {
  text-transform: uppercase;
  font-weight: 800;
}
.menu-button {
  font-size: 14px;
  background-color: transparent;
  box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 13px 22px;
  color: #6a696b;;
  cursor: pointer;
  transition: .8s;
}
.menu-button:hover {
  color: #fff;
  background: #2b2a2c;
}
.menu-list a:after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: #2b2a2c;
  transition: width .3s ease-in;
  position:absolute;

}
.menu-list a:hover:after,
.menu-list a:focus:after {
  width: 100%;
}
.hero{
  padding-top: 110px;
  padding-bottom: 110px;
  background: url('https://wmpics.pics/di-VWDN.png') no-repeat right bottom;
}
.hero_subtitle{
  font-size: 32px;
}
.hero_title{
  font-size: 45px;
  font-weight: 800;
  margin-top: 5px;
  margin-bottom: 3px;
}
.hero_description{
  font-size: 18px;
  color: #6a696b;
}
.hero_social{
  margin-top: 25px;
}
.social{
  display: inline-block;
  width: 41px;
  height: 41px;
  margin-left: 70px;
  color: #ffff;
  text-align: center;
  line-height: 41px;
  font-size: 25px;
}
.inst_bg{
  background-color: #13578a;
}
.vk_bg{
  background-color: #56acef;
}
.hero_button{
  margin-top: 42px;
}
.button{
  display: inline-block;
  font-weight: 800;
  font-size: 16px;
  text-decoration: none;
  background-color: #2b2a2c;
  border-radius: 25px;
  padding: 20px 35px;
  box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.25);
}
.button_primary{
  color: #ffff;
  cursor: pointer;
  transition: .8s;
  margin-right: 17px;
  margin-bottom: 10px;
  margin-left: 50px;
}
.button_primary:hover{
  color: #6a696b;
  background: #fff;
}

.projects{
  padding: 97px 0;
}
.project_card{
  margin-right: 31px;
  margin-bottom: 41px;
  width: 350px;
  min-height: 350px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
.read{
  height: 300px;
  background: url(https://im0-tub-ru.yandex.net/i?id=59b80d6708933000c2a8424c37971cac&n=13) center;
  background-repeat: no-repeat;
  background-size: cover;
}
.book{
  height: 300px;
  background: url(https://cdn.dribbble.com/users/66221/screenshots/1655593/html5.png) center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ali{
  height: 300px;
  background: url(https://ae01.alicdn.com/kf/HTB1hdE7mx1YBuNjy1zcq6zNcXXap/Ekstra-nakliye-creti.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;  
}
.wiki{
   height: 300px;
  background: url(https://actc.iafor.org/wp-content/uploads/sites/14/2017/03/How-to-Use-Wikipedia-as-an-Educational-Tool-in-the-Classroom.jpg) no-repeat center;
  background-size: cover; 
}
.reg{
  height: 300px;
  background: url(https://yt3.ggpht.com/a-/AAuE7mCfTfC8VFxuhmRaY6iKjYWPtoqUx6ptWbX1qw=s900-mo-c-c0xffffffff-rj-k-no) center;
  background-repeat: no-repeat;
  background-size: cover; 
}
.ok{
   height: 300px;
  background: url(https://look.com.ua/pic/201705/1280x1024/look.com.ua-213888.jpg) center;
  background-repeat: no-repeat;
  background-size: cover; 
}
.category{
  display: block;
  color: #2b2a2c;
  font-size: 12px;
}
.card_info{
  padding: 19px 13px;
}
.project_title{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 10px;
}
.project_cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: stretch;
}
.about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
}
.about_title{
  font-size: 40px;
  font-weight: 800;
}
.about_info{
  font-size: 18px;
  color: #717072;
  padding: 0 35px;
}
.footer{
  background-color: #2b2a2c;
  padding: 20px 0px;
  color: #8d8d8e;
}
.footer a{
  color: #8d8d8e;
  text-decoration: none;
  padding-right: 10px;
}
.footer_info{
  display: flex;
  justify-content: space-between;
}
.footer_txt{
  display: flex;
}
.copyright{
  padding-right: 16px;
  margin-right: 16px;
  border-right: 1px solid #413f41;
}
@media(max-width: 1200px){
  .container{
    width: 965px;
  }
  .project_card{
    width: 45%;
  }
}
@media(max-width: 992px){
  .container{
    width: 760px;
  }
  .project_card{
    width: 45%;
  }
}
@media(max-width: 768px){
  .container{
    width: 95%;
  }
  .menu-list{
    display: none;
  }
  .hero{
    padding-bottom: 550px;
    padding-top: 30px;
  }
  .project_card{
    width: 95%;
    margin: 30px auto;
  }
  .footer a{
    display: flex;
    flex-direction: column;
  }
}